.ntz-link-manager-add {
  position: relative;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.ntz-link-manager-add button {
  width: 30px;
  cursor: pointer;
  position:relative;
}

.ntz-link-manager-add button .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform:translate(-50%, -50%);
}

.ntz-link-manager-list {
  list-style: none;
  margin: 10px 0 0;
}

.ntz-link-manager-list li > span {  word-wrap: break-word; }

.ntz-link-manager-list li .widefat { max-width: 95% }

.ntz-link-manager-list li [data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: 120%;
  background: #000;
  color:#fff;
  display:none;
  font: 100 11px/1.4 Arial, Helvetica, Verdana;
  padding: 5px;
  border-radius: 5px;
  left: 0;
}

.ntz-link-manager-list li [data-title]:hover:after {
  display: block;
}


.ntz-link-manager-list li {
  border-top: 1px solid #ccc;
  transition:background 3s ease;
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: stretch;
  position: relative;
}

.ntz-link-manager-list li.to-be-deleted {
  transition:all .2s ease;
  color:#fff;
  background: #c00;
}

.ntz-link-manager-list li.added {
  background: #ffeb3b;
}

.ntz-link-manager-list input {
  border: 0;
  background-color: transparent;
  box-shadow: 0;
}

.ntz-copied-to-clipboard {
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  background: rgba(0, 0, 0, .7);
  padding: 10px 50px;
  color: #fff;
  z-index: 999;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  line-height: 3;
}


.ntz-link-search-results {
  position: relative;
}

.ntz-link-search-results .ntz-delete-link {
  position: absolute;
  right: 5px;
  top: 50%;
  transform:translate(0, -50%);
  background: rgba(255, 255, 255, 0);
  transition:all  0.3s ease;
  padding: 5px;
}
.ntz-link-search-results .ntz-delete-link:hover {
  background: rgba(255, 255, 255, 1);
}